<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
</head>

<body>
    <h1>Hallo! This page is preparing page for Scatter</h1>
    <p>here is accounts list</p>

    <div>
        <% for(let value of acc) { %>
        <p><%= value %></p>       
        <% } %>
    </div>



    <br>
    <form action="/add" method="POST">
        <p>input your private key : </p>
        <input type="text" name="psw">

        <input type="submit" value="put">
    </form>

</body>

</html>