<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
</head>

<body>
    <h1>Hallo! This page is preparing page for Scatter</h1>
    <p>here are your accounts</p>
    <p><%= acc %></p>

    <br>
    <form action="/add" method="POST">
        <p>input your password : </p>
        <input type="text" name="psw">

        <input type="submit" value="put">
    </form>

</body>

</html>